<html>
	<head>
		{% load static %}		
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<script src="{% static 'js/index.js' %}"></script>
		
		<link rel="stylesheet" type="text/css" href="{% static 'semantic-ui/semantic.min.css' %}">
		<script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
		<link rel="icon" href="{% static 'img/ehatid.png' %}">
		<title>
			eSPAT 1 : eHaMBinGG  Spatio-temporal  Predictive  Analytics  Tool
		</title>
	</head>

	<body style='height:0;'>
		{% block content %}
		{% endblock %}

	</body>

</html>