{% extends 'registration/base_generic.html' %}
{% block content %}
{% load static %}


<form method="post" action="{% url 'login' %}">
		{% csrf_token %}
	<div class="ui placeholder segment login">
		<div class="ui one column very relaxed stackable grid">
			<div class="column">
				<h2 class="ui blue image header">
				  <img src="{% static 'img/ehatid2.png' %}" class="image">
				  <div class="content">
					Welcome to eSPAT 1
				  </div>
				</h2>
				<div class="ui form">
					<div class="field">
					  <label>Username</label>
					  <div class="ui left icon input">
						<input type="text" placeholder="type your username" name="username" autofocus required id="id_username">
						<i class="user icon"></i>
					  </div>
					</div>
					<div class="field">
					  <label>Password</label>
					  <div class="ui left icon input">
						<input type="password" placeholder="type your password" name="password" required id="id_password">
						<i class="lock icon"></i>
					  </div>
					</div>
					{% if form.errors %}
					<div class="ui red mini message">
					  <div class="header">
						Your username and password didn't match. Please try again.
					  </div>
					</div>
					{% endif %}
					<input type="submit" value="Login" class="ui primary button" />
					<input type="hidden" name="next" value="{{ next }}" />
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}