
.about-container{
	margin: 0px auto !important;
	padding-top: 50px !important;
	width:70%;
	text-align: justify;
}

.about-table{
	margin: 0px auto !important;
	width: 70% !important;
}


.steps{
	width:100%;
	
}
.body-steps {
	margin: 0px auto;
	width:80%;
}

.loading-data, .loading-data-arima{
	height:60vh;
	display: none;
	
}

.container-ui p{
	/*height:60vh;*/
	
}

.container-graph, .container-arima{
	display: none;
}

.graph-step-two{
	margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.graph-two{
	text-align: center;
}
.forecast-graph{
	display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.step-two-next, .step-three-next{
	visibility: hidden;	
}

.step-one-notice{
	margin: 20px auto !important;
    width: 50%;
	margin-top: 10px;
	text-align: center;
}

.login{
    margin: auto !important;
    margin-top: 200px  !important;
    width: 30%;
	text-align: center;
	
}


.user{
	font-weight: bold;
	/*color: blue;*/
}

.signup-container{
	margin: 0px auto !important;
    width: 30%;
	margin-top: 5vh  !important;
	text-align: center;
	
}

#id_file{
	width:220px;
}
