.steps{
	width:100%;
	
}

.table-data{
	table-layout: fixed !important;
	
}

.table-data > thead > tr > th{
	width:130px;
}

.time-header{
	width:100px !important;
}

#data-table{
	overflow-x: auto; 
}

#file-input-dengue{
	visibility:hidden;
}
.body-steps {
	margin: 0px auto;
	width:80%;
}

.form-control{
	width: 250px;

}

.name-width{
	width: 250px;
}

.body-result{
	padding:50px;
	padding-top:20px;
}

.left-cont{
	padding:10px;
	margin-top:15px !important;
	margin-left:60px;
	float:left;
	border:1px solid #ddd;
	width:25%;
	border-radius: 4px;
	height:300px;

}

#period,#period-tb{
	font-size:1.5em;
}

.instr-dengue{
	padding: 50px;
	display: none;
}


.dengue-options, .tb-options{
	display:block;
}
#graph-dengue-tempo, #mongodb, .slider-container, .instr-dengue-map{
	visibility: visible;
}

.right-cont{
	padding:10px;
	float:right;
	border:1px solid #ddd;
	width:65%;
	border-radius: 4px;
	/*height:600px;*/
	margin-right:200px;
	z-index:1000;
	position:relative;
	background-color:#fff;
}

.right-tb{
	padding:10px;
	float:right;
	box-shadow: 7px 7px 5px grey;
	transition: 0.5s box-shadow;
	border:1px solid #ddd;
	width:820px;
	border-radius: 4px;
	height:600px;
	margin-right:50px;
	z-index:2500;
	position:relative;
	background-color:#fff;
	
}

.about{
	padding:10px;
	box-shadow: 7px 7px 5px grey;
	transition: 0.5s box-shadow;
	border:1px solid #ddd;
	width:40%;
	border-radius: 4px;
	height:550px;
	margin: 0 auto;
	z-index:2500;
	position:relative;
	background-color:#fff;
	text-align:center;
	padding-top:30px;
}

.about:hover{
	box-shadow: 0px 0px 0px grey;
	transition: 0.3s box-shadow;
}

.right-tb:hover{
	box-shadow: 0px 0px 0px grey;
	transition: 0.3s box-shadow;
}

.addShadow{
	box-shadow: 7px 7px 5px grey !important;
	transition: 0.5s box-shadow;
}
#slidecontainer, #slidecontainer-tb {
    width: 100%; /* Width of the outside container */
}

#range-sd{
	display:hidden;
}

#range-td, #range-td-tb{
	display:block;
}


/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4183c4; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4183c4; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#dengue-map{
	display: block;
	margin-top:5px;
	/*width:600px;
	height:470px;
	background-image: url('../img/dengue_1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 120% 60%; 
	background-size: 971px 540px;*/
	
}
.slider-container, .slider-container-tb{
	/*display:none;*/
}

#tb-map{
	margin-top:30px;
	display: none;
	
}

#dengue-graph{
	display: block;
}


.graph-modal{
	margin-top:20px;
	
}
.students, .person{
	font-weight: bold;
}

.step-four-next, .step-four-rewind{
	margin-top:20px !important;
	
}

.spatial-container{
	width: 100%;
	margin: 0 auto !important;
}

.spatial-container{
	visibility: hidden;
}

.back-next{
	margin-top:20px;
}

#graph-svg{
	display: none;
}
