{% extends 'analytics/base.html' %}

{% block content %}
   
	<div class="ui raised segment about-container">
		<div class="about-container">
			<h2>eSPAT</h2>
			<h3>eHealth Spatio-temporal Predictive Analytics Tool</h3>

			<h3>DATA PRIVACY STATEMENT <br/>version April 12, 2019</h3>
			<h3>Introduction</h3>
			<p>
			The eHATID2 Project is keen on ensuring that all our partners are well-informed about the terms, conditions, and notices involved in using any of the eHATID-developed systems. In compliance with the Philippine Data Privacy Act of 2012 (Republic Act 10173), this document briefly outlines all the information you need to know concerning the security of the personal information you share with us, and our actions to ensure the security and integrity of this information.
			</p>
			<p>
			This privacy statement may be amended from time to time. For any revisions of this statement, which will likely result in changes in the use and/or safekeeping of your personal information, you will be notified through the contact information you provided to the project team ahead of its implementation. 
			</p>
			<p>
			If you disagree to the terms stated in this privacy statement, then you are encouraged to inform us of your stance and/or discontinue using any of the services offered by the project. Otherwise, we are happy to be of service to you in pursuit of a more equitable, and IT-empowered eHealth solutions for the Philippines. 
			</p>

			<h3>Who We Are</h3>
			<p>
			The eHATID2 Project is an operational research project of the Ateneo de Manila University - Institute of Philippine Culture. It is funded by the Department of Science and Technology - Philippine Council for Health Research and Development. The project develops and maintains eHealth solutions for its partner rural health units and local government partners nationwide. 
			</p>
			<p>
			We make sure to comply with the data protection standards of the Ateneo de Manila University, through regular consultations with the University Data Protection Office (UDPO). All project personnel, whether employed full-time or as independent contractors have secured undertakings of confidentiality. 
			</p>

			<h3>About eSPAT</h3>
			<ol>
				<li>
					<h3>What is eSPAT?</h3>
					<p>eSPAT is a web application that runs statistical analysis on aggregated health data to produce a) forecast of morbidity patters and b) spatial and temporal visualization. eSPAT is still in its test version and is currently being developed in partnership with several provincial health offices. As such, eSPAT functions only as a Service Provider. The project team does not collect and store the aggregated health data and outputs produced by the web application.</p>
				</li>
				<li>
					<h3>What data are being collected or generated?</h3>
					<p>eSPAT can only process aggregated and anonymized health information. In addition, eSPAT shall collect and store the personal information of its registered users (i.e. first name, last name, email address, office, and position/designation). The production/live version of eSPAT shall be stored in the eHATID LGU co-location server, housed in the Department of Information and Communications Technology, C. P. Garcia Avenue, Diliman, Quezon City, Philippines.</p>
				</li>
				<li>
					<h3>How long will the data be retained?</h3>
					<p>Aggregated health information processed by eSPAT gets purged/deleted from the system upon logging out of the user account or upon session timeout. Reports generated by eSPAT (in PDF and Excel readable formats) gets stored in the device from which the web application was accessed. The web application does not retain copies of these reports. Personal information of the users will be retained by the system so long as the user accounts are active. This information shall be purged from the system upon the termination of agreements between the project team and the partner institution and users concerned.</p> 
				</li>
				<li>
					<h3>Who has access to the data?</h3>
					<p>Only authorized personnel within the project’s partner institutions have access to eSPAT and the aggregated health data uploaded to it. It is left to the discretion of the partner institution if they wish to share the outputs of eSPAT outside their agency. The eHATID2 project team cannot retrieve the aggregated health data from the back-end but has access to the personal information of the registered users.</p>
				</li>
			</ol>	
			
			
			<h3>Project Background</h3>

			<p>eSPAT, or the eHealth Spatio-temporal Predictive Analytics Tool, is a web-based application that allows statistical analysis as well as spatial and temporal data visualization of aggregated health data of any disease. Upon uploading the health data encoded in the eSPAT CSV template, the tool provides a step-by-step data analysis process, which shows the user the various stages of forecasting and visualizing the results. eSPAT version 1 currently uses ARIMA (Auto Regressive Integrated Moving Average) mathematical model and will be designed to accommodate other mathematical models and contextual variables specific to certain diseases.</p>

			<p>This PDF output presents the visualization of the aggregated data uploaded into the tool. Enclosed with the ZIP file is a MS Excel-readable CSV file of the aggregated data so that users can validate the results with the actual health data. </p>

			<p>The application is co-developed by the Ateneo de Manila University – Institute of Philippine Culture and the University of the Philippines Scientific Computing Laboratory through the eHATID2 (eHealth Analytics for Data-driven Decision-making) Project, and is supported by the Department of Science and Technology – Philippine Council for Health Research and Development. </p>


			<h3>Interpretation Guide</h3>

			<p>The PDF output contains five sets of temporal graphs. The first three (labeled as “Actual Data Graph,” “Normalized Data Graph,” and “Seasonality Data Graph”) are automatically generated by the tool’s statistical analysis software. The graph “ARIMA Prediction” presents the actual and forecasted health morbidity patterns that are converted into easy-to-interpret line graphs made through Highcharts. Lines and points in black correspond to the actual health data while lines and points in blue present the forecasted health data. A light blue band surrounding the blue lines represent the confidence interval of the forecast i.e. where the actual health data count might fall unto as analyzed by the mathematical model used. </p>

			<p>Users must always take note that the quality of the forecast rests upon the interplay of the following factors: </p>
			<ol>
				<li>The actual aggregated health data</li>
				<li>The mathematical model used (including the parameters set by the user)</li>
				<li>The confidence interval</li>
			</ol>
			<p>In addition, these factors are also affected by a host of other biological, social, and environmental factors, which the tool may not take into consideration. As such, users are advised to take precaution in making decisions based on the forecast made by eSPAT. Expert help and the practical knowledge of its users will help improve the outcomes of the tool. Any forecasts made by eSPAT should only be interpreted and disseminated to the authorized health officers or public health program managers.</p>

			<p>eSPAT also produces spatial visualizations, which may be downloaded separately from the PDF output using its “Export” function. </p>

			<p>Refer to the eSPAT User Manual for further guidance. </p>


			<h3>Confidentiality Notice</h3>

			<p>To ensure proper accountability for the health information processed by the tool, eSPAT does not store aggregated health information uploaded by its users. All aggregated health information uploaded by its users is automatically purged once the user logs out or the session expires. eSPAT does not and cannot collect Sensitive Personal Information from the health data uploaded by its users. All Personal Information provided by its users are handled properly with consent freely given in accordance to pertinent data protection policies of the Philippines, and is subject to other formal agreements between the eHATID2 Project and its partners</p>

			<p>This PDF report, including its attachments, is intended for the use of duly authorized person/s. It may contain personal data, or information that is confidential or privileged, which are protected from unauthorized use or disclosure by law. If you are not the intended recipient, please be aware that printing, copying, dissemination, distribution, disclosure, forwarding of, or acting in reliance upon the information contained in this communication is strictly prohibited. If you have incorrectly received this report, please contact the sender immediately and permanently delete it, including any attachments, from your system. </p>

			<h3>Waiver of No Accountability</h3>
			<p>Being a prototype tool, users are reminded that bugs in the web application, and lapses in forecasting health information may occur. Users, therefore, are expected to coordinate closely with the eSPAT development team for all application concerns and health decision-making that will be carried out with eSPAT as primary information reference and evidence. The eHATID2 project does not claim responsibility for faulty information dissemination as a result of misjudgments on the results generated by eSPAT. The project, however, shall cooperate with its users and other pertinent stakeholders to ensure that chances for such misjudgments are minimized. </p>

			<h3>Contact Information</h3>
			<p>For your immediate concerns or queries, please feel free to contact the eHATID2 project team through the following contact information:</p>

			<table class="ui celled table about-table">
			  <tbody>
				<tr>
					<td>Email address</td>
					<td>	ehatidlgu@gmail.com<br/>
						ehatidlgu.ipc@ateneo.edu<br/>
						dbatangan@ateneo.edu
					</td>
				</tr>
				<tr>
					<td>Landline</td>
					<td>
						+632 426 6067 ext. 209
					</td>
				</tr>
				<tr>
					<td>Direct Fax</td>
					<td>
						+632 426 6067 ext. 121
					</td>
				</tr>
				<tr>
					<td>Mobile</td>
					<td>
						+63916 448 7730
					</td>
				</tr>
				<tr>
					<td>Mailing address</td>
					<td>
						Room 209, Institute of Philippine Culture, 2nd floor, Frank Lynch Hall, Social Development Complex, Ateneo de Manila University, Loyola Heights 1108, Quezon City, Philippines
					</td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
	
   
{% endblock %}
