
{% extends 'analytics/base.html' %}

{% block content %}
   
   <form method="post" enctype="multipart/form-data">{% csrf_token %}
		<div class="ui input">
			{{ form.title }}
		</div>
		<div class="ui input">
			{{ form.file }}
		</div>
	  <button class="ui primary button" type="submit"><i class="upload icon"></i>Upload</button>
	</form>
   
   
{% endblock %}