<!DOCTYPE html>
<html>
	<head>
	
		<script>
			HOST = 'http://{{ request.get_host }}/'; 
			USER = '{{ user.get_username }}';
		</script>
		{% load static %}
	
		
		
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vs/css/spatial.css' %}">
		
		
		
		
		<link rel="stylesheet" href="{% static 'vs/css/jquery-ui.css' %}">
	
	
		<script src="{% static 'vs/js/districts.js' %}"></script>
		<script src="{% static 'vs/js/highcharts.js' %}"></script>
		<script src="{% static 'vs/js/highcharts-more.js' %}"></script>
		<script src="{% static 'vs/js/data.js' %}"></script>
		<script src="{% static 'vs/js/map.js' %}"></script>
		<script src="{% static 'vs/js/exporting.js' %}"></script>
		<script src="{% static 'vs/js/bootstrap.js' %}"></script>
		<script src="{% static 'vs/js/jquery-ui.js' %}"></script>
	
		<link rel="stylesheet" type="text/css" href="{% static 'semantic-ui/semantic.min.css' %}">
		<script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
		<link rel="icon" href="{% static 'img/ehatid.png' %}">
		<title>
			 eSPAT 1 : eHaMBinGG  Spatio-temporal  Predictive  Analytics  Tool
		</title>
	</head>

	<body>
		<div class="ui inverted stackable menu">
		  <div class="item">
			<img src="{% static 'img/ehatid.png' %}">
		  </div>
			<a class="item">eSPAT 1</a>
			<a class="item">About</a>
			<a class="item">About</a>
			<a class="item" href="http://{{ request.get_host }}/analytics/history">Activity Log</a>
			<a class="item" href="{% url 'logout'%}">Log out</a>
		</div>
		
		{% if history %}
		
		{% else %}

		<div class="ui tablet stackable steps">
		  <div class="{{stat1}}{% if var1 %} active {% else %} disabled {% endif %}step">
			<i class="upload icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_one">Step 1</a></div>
			  <div class="description">Upload a file</div>
			</div>
		  </div>
		  
		  <div class="{{stat2}}{% if var2 %} active {% else %} disabled {% endif %}step">
			
			<i class="eye icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_two">Step 2</a></div>
			  <div class="description">Visualize Data</div>
			</div>
			
		  </div>
		 
		  <div class="{{stat3}}{% if var3 %} active {% else %} disabled {% endif %}step">
			<i class="cogs icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_three">Step 3</a></div>
			  <div class="description">Perform auto-ARIMA</div>
			</div>
		  </div>
		  <div class="{{stat4}}{% if var4 %} active {% else %} disabled {% endif %}step">
			<i class="chart line icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_four">Step 4</a></div>
			  <div class="description">Temporal graph</div>
			</div>
		  </div>
		  <div class="{{stat5}}{% if var5 %} active {% else %} disabled {% endif %}step">
			<i class="map icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_five">Step 5</a></div>
			  <div class="description">Spatial graph</div>
			</div>
		  </div>
		  <div class="{{stat6}}{% if var6 %} active {% else %} disabled {% endif %}step">
			<i class="file alternate icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_six">Step 6</a></div>
			  <div class="description">Generate report</div>
			</div>
		  </div>
		</div>
		
		{% endif %}
		{% block content %}
		{% endblock %}
		
	</body>

</html>
