<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<script>
			HOST = 'http://{{ request.get_host }}/'; 
			STATIC = '{% static "img/" %}';
		</script>
		
	
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/change_pass.js' %}"></script>
		
		{% if alpha or history or about %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<script src="{% static 'js/index.js' %}"></script>
		
		{% else %}
					
			<link rel="stylesheet" href="{% static 'vs/css/index.css' %}">
			<script src="{% static 'vs/js/highcharts.js' %}"></script>
			<script src="{% static 'vs/js/highcharts-more.js' %}"></script>
			<script src="{% static 'vs/js/data.js' %}"></script>
			<script src="{% static 'vs/js/map.js' %}"></script>
			<script src="{% static 'vs/js/exporting.js' %}"></script>
			{% if var4 %}
				
				
			{% else %}
				<script src="{% static 'js/shp.js' %}"></script>
			{% endif %}

		{% endif %}
		<link rel="stylesheet" type="text/css" href="{% static 'semantic-ui/semantic.min.css' %}">
		<script src="{% static 'semantic-ui/semantic.min.js' %}"></script>
		<link rel="icon" href="{% static 'img/ehatid.png' %}">
		<title>
			 eSPAT 1 : eHealth  Spatio-temporal  Predictive  Analytics  Tool
		</title>
	</head>

	<body>
		<div class="ui inverted stackable menu">
		  <div class="item">
			<img src="{% static 'img/ehatid.png' %}">
		  </div>
			<a class="item">eSPAT 1</a>
			<a class="item" href="{% url 'steps'%}"><i class="home icon"></i>Home</a>
                  <div class="right menu"> 
						<div class="ui dropdown item change-password">
						  <i class="blue user icon"></i>{{ request.user.username }} <i class="dropdown icon"></i>
						  <div class="menu">
							<a class="item change-password-opt"><i class="blue key icon"></i>Change password</a>
						  </div>
						</div>
						{% if request.user.designation == 'admin' or request.user.designation == 'Provincial admin' %}<a class="item" href="{% url 'provincial_admin'%}"><i class="orange users icon"></i>Manage Accounts</a>{% endif %}
                        <a class="item" href="{% url 'about'%}"><i class="red info icon"></i>About</a>
                        <a class="item" href="{% url 'history'%}"><i class="yellow clipboard list icon"></i>Activity Log</a>
			<a class="item" href="{% url 'logout_account'%}"><i class="teal sign-out icon"></i>Log out</a>
		  </div>
		</div>
		{% if history or about %}

        {% else %}
		<div class="ui tablet stackable steps">
		  <div class="{{stat1}}{% if var1 %} active {% else %} {% endif %}step">
			<i class="upload icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_one">Step 1</a></div>
			  <div class="description">Upload a file</div>
			</div>
		  </div>
		  
		  <div class="{{stat2}}{% if var2 %} active {% else %} disabled {% endif %}step">
			
			<i class="eye icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_two">Step 2</a></div>
			  <div class="description">Visualize Data</div>
			</div>
			
		  </div>
		 
		  <div class="{{stat3}}{% if var3 %} active {% else %} disabled {% endif %}step">
			<i class="cogs icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_three">Step 3</a></div>
			  <div class="description">Perform auto-ARIMA</div>
			</div>
		  </div>
		  <div class="{{stat4}}{% if var4 %} active {% else %} disabled {% endif %}step">
			<i class="chart line icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_four">Step 4</a></div>
			  <div class="description">Temporal graph</div>
			</div>
		  </div>
		  <div class="{{stat5}}{% if var5 %} active {% else %} disabled {% endif %}step">
			<i class="map icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_five">Step 5</a></div>
			  <div class="description">Spatial graph</div>
			</div>
		  </div>
		  <div class="{{stat6}}{% if var6 %} active {% else %} disabled {% endif %}step">
			<i class="file alternate icon"></i>
			<div class="content">
			  <div class="title"><a href="/analytics/step_six">Step 6</a></div>
			  <div class="description">Generate report</div>
			</div>
		  </div>
		</div>

		{% endif %}
		{% block content %}
		{% endblock %}
		
		
		<div class="ui modal mini pop-password">
		  <div class="header"> Change Password</div>
		  <div class="content">
				<div class='ui form'>
					<div class='field'>
						<div class="ui left icon input">
							<input type="password" placeholder="Type new password" id='new-password' autofocus="" required="">
							<i class="orange key icon"></i>
						</div>
					</div>
					
					<div class='field'>
						<div class="ui left icon input">
							<input type='password' id='retype-new-password' placeholder="Re-type new password" autofocus="" required="">
							<i class="green orange key icon"></i>
						</div>
					</div>	
				</div>
		  </div>
		  <div class="actions">
			<div class="ui blue button" id='save-password'>Save</div>
			<div class="ui cancel button">Cancel</div>
		  </div>
		</div>
		
		<script>
		
			$('.change-password-opt').click(function(){
				$('.pop-password')
				.modal('show');
			});
			
			
			$('.change-password')
			.dropdown();
			
			$('#save-password').click(save_new_password);
		</script>
		
		
		{% csrf_token %}
		
	</body>

</html>
