{% extends 'analytics/base.html' %}

{% block content %}
   
	<div class="ui raised segment about-container history">
	<p>
		The following table lists down the history of generating the reports made by the account: <span class="user">{{ user }}</span></b><br/><br/>  
		
	</p>
	
		<table class="ui celled table">
		  <thead>
			<tr><th>No.</th>
			<th>Date time of generating report</th>
		  </tr></thead>
		  <tbody>
			{% for o in rr %}
			<tr>
			  <td data-label="Number">{{forloop.counter}}</td>
			  <td data-label="Datetime">{{o.stamp}}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	</div>
	
   
{% endblock %}
