<!DOCTYPE html>
<html>
	<head>
		{% load static %}
	
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<link rel="icon" href="{% static 'img/ehatid.png' %}">
		<title>
			eHatid2: Analytics
		</title>
	</head>

	<body>
	
		<img width="300" height="300" src="{% static 'img/dengue.png' %}">
		
		<br>
		<img width="300" height="300" src="{% static 'img/norm_dengue.png' %}">
		<br>
		<img width="300" height="300" src="{% static 'img/seasonal.png' %}">
		
	</body>

</html>
