{% extends 'analytics/base.html' %}

{% block content %}
	{% load static %}
	<div class="ui raised segment history">
	<p>
		Your admin account: <b>{{ user }}</b>, allows you to create and delete a user account only for the province of <b>{{province}}</b><br/><br/>  
		
	</p>
	<p>
		Add user by clicking this button: <button class="ui icon green button add-user"><i class="plus circle icon"></i> Add User</button>
	</p>
	
		<table class="ui celled table">
		  <thead>
			<tr>
			<th>No.</th>
			<th>Username</th>
			<th>First name</th>
			<th>Last name</th>
			<th>Designation</th>
			<th>Province</th>
			<th>Status</th>
			<th>Actions</th>
		  </tr></thead>
		  <tbody>
			{% for u in users %}
			<tr>
			  <td data-label="number">{{forloop.counter}}</td>
			  <td data-label="username">{{u.username}}</td>
			  <td data-label="first_name">{{u.first_name}}</td>
			  <td data-label="last_name">{{u.last_name}}</td>
			  <td data-label="designation">{{u.designation}}</td>
			  <td data-label="province">{{u.province}}</td>
			  <td data-label="status" id='user-{{u.id}}'><i class='{{u.is_active|yesno:"green check,red times,grey outline"}} circle icon'></i></td>
			  <td data-label="action"><button class="ui mini teal button show-info view" data-value='{{u.id}}'>Activity Log</button><button class="ui mini {{u.is_active|yesno:'yellow,green'}} button" id="suspend-{{u.id}}" data-value='{{u.id}}' data-name='{{u.username}}'>{{u.is_active|yesno:'Suspend,Activate'}}</button><button class="ui mini red button delete" data-value='{{u.id}}' data-name='{{u.username}}'>Delete</button></td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
		{% if error %}
		<div class="ui red mini message">
		  <div class="header" style='text-align:center;'>
			Unfortunately, the given name, {{name}} has already been taken. Please provide a new one.
		  </div>
		</div>
		{% endif %}
	</div>
	
	<div class="ui modal history-modal">
	  <div class="header">History</div>
	  <div class="scrolling content">
		
	  </div>
	  <div class="actions">
		<div class="ui cancel teal button">Ok</div>
	  </div>
	</div>
	
	<div class="ui tiny modal suspend-modal">
	  <div class="header">Account Suspension</div>
	  <div class="content">
		You are about to alter the current status of the account: <b><span class='suspend-account'></span></b>. Please confirm.
	  </div>
	  <div class="actions">
		<button class="ui yellow button suspend-confirm">Confirm</button>
		<div class="ui cancel button">Close</div>
	  </div>
	</div>
	
	<div class="ui tiny modal delete-modal">
	  <div class="header">Account Deletion</div>
	  <div class="content">
		You are about to delete the account: <b><span class='delete-account'></span></b>. Please confirm.
	  </div>
	  <div class="actions">
		<button class="ui red button delete-confirm">Confirm</button>
		<div class="ui cancel button">Close</div>
	  </div>
	</div>
	
	<div class="ui modal add-user-modal">
	  <div class="header">Add User</div>
	  <div class="content">
		<form class="ui form" method='POST' action="{% url 'create_account' %}">
		{% csrf_token %}
		  <div class="field">
			<label>Username</label>
			<input type="text" name="username" placeholder="Type username" id='username'>
		  </div>
		  <div class="field">
			<label>Email</label>
			<input type="text" name="email" placeholder="Type email" id='email'>
		  </div>
		  <div class="field">
			<label>First Name</label>
			<input type="text" name="first-name" placeholder="Type first name" id='first-name'>
		  </div>
		  <div class="field">
			<label>Last Name</label>
			<input type="text" name="last-name" placeholder="Type last name" id='last-name'>
		  </div>
		  <div class="field">
			<label>Designation</label>
			<input type="text" name="designation" placeholder="Type designation" id='designation'>
		  </div>
		  <div class="field">
			<label>Province</label>
			<div class="ui selection dropdown province">
			  <input type="hidden" name="province">
			  <i class="dropdown icon"></i>
			  <div class="default text">Select province</div>
			  <div class="menu">
				<div class="item" data-value="Pangasinan">Pangasinan</div>
				<div class="item" data-value="Lanao del Sur">Lanao del Sur</div>
			  </div>
			</div>
		  </div>
		  <div class="field">
			<label>Password</label>
			<input type="password" name="password" placeholder="Type password" id='password'>
		  </div>
		  <div class="field">
			<label>Re-type password</label>
			<input type="password" name="repassword" placeholder="Re-type password" id='repassword'>
		  </div>
		  <div class="actions">
			<input type='submit' id='create-submit' style='display:none;'>
			<div class="ui green button" id='create-button'>Create</div>
			<div class="ui cancel button">Cancel</div>
		  </div>
		</form>
	  </div>
	  
	</div>
	
	
	
	<script src="{% static 'js/prov_adm.js' %}"></script>
		
	<script>
		$('.province')
		  .dropdown({
			values: [
			  {
				name     : '{{province}}',
				value    : '{{province}}',
				selected : true
			  }
			]
		  })
		;
	</script>
	
   
{% endblock %}
