<!-- templates/signup.html -->
{% extends 'analytics/base_signup.html' %}

{% block content %}
{% load static %}
  <form method="post">
    {% csrf_token %}
    <div class="ui placeholder segment signup">
	  <div class="ui one column very relaxed stackable grid">
		<div class="column">
			<h2 class="ui blue image header">
			  <img src="{% static 'img/ehatid2.png' %}" class="image">
			  <br/>
			  <div class="content">
				New Account Registration
			  </div>
			</h2>
		  <div class="ui form">
			<div class="field">
			  <label>Username</label>
			  <div class="ui left icon input">
				<input type="text" placeholder="type your username of 150 characters or fewer. Letters, digits and @/./+/-/_ only. (required)" name="username" autofocus required id="id_username">
				<i class="user icon"></i>
			  </div>
			</div>
			<div class="field">
			  <label>First name</label>
			  <div class="ui left icon input">
				<input type="text" placeholder="type your first name. (optional)" name="first_name" autofocus required id="id_first_name">
				<i class="id card icon"></i>
			  </div>
			</div>
			<div class="field">
			  <label>Last name</label>
			  <div class="ui left icon input">
				<input type="text" placeholder="type your lastname. (optional)" name="last_name" autofocus required id="id_last_name">
				<i class="id card outline icon"></i>
			  </div>
			</div>
			<div class="field">
			  <label>Email</label>
			  <div class="ui left icon input">
				<input type="text" placeholder="type your valid email address. (required)" name="email" autofocus required id="id_email">
				<i class="envelope icon"></i>
			  </div>
			</div>
			<div class="field">
			  <label>Password</label>
			  <div class="ui left icon input">
				<input type="email" placeholder="type a password of at least 8 characters, not entirely numeric, not too similar to your username" name="password1" required id="id_password1">
				<i class="lock open icon"></i>
			  </div>
			</div>
			<div class="field">
			  <label>Password confirmation</label>
			  <div class="ui left icon input">
				<input type="password" placeholder="retype your password to confirm" name="password2" required id="id_password2">
				<i class="lock icon"></i>
			  </div>
			</div>
			<input type="submit" value="Sign up" class="ui primary button" />
			<input type="hidden" name="next" value="{{ next }}" />
		  </div>
		</div>
		
	</div>
  </form>
  
  
  
  
  
  
  
  
  
  
{% endblock %}

