{% extends 'analytics/base_spatial.html' %}

{% block content %}
	
	<div class="ui blue segment spatial-container">
		<div id="dengue-map"></div>
		<div class="slider-container">
			<br/>
			<b>Please drag the slider for a specific time.</b>
			<br/><br/>
			<div>
				<div id="period">
				From 2013-January to
				</div>
			</div>
	
	
			<div id="slidecontainer">
				<input type="range" min="1" max="54" value="1" class="slider" id="range-sd">
			</div>
		</div>
	</div>
	

		{% load static %}
		
		<script src="{% static 'vs/js/spatial.js' %}"></script>
		
		
{% endblock %}