{% extends 'analytics/base1.html' %}

{% block content %}
		
		<div class="body-result">
			<div class="tab-content">
			  <div id="home" class="tab-pane fade in active">
				<div class="left-cont">
					<h3 id='p-title'>Spatial Data</h3>
					
					<div class="slider-container">
						<br/>
						<b>Please drag the slider for a specific time.</b>
						<br/><br/>
						<div>
							<div id="period">
							From 2013-January to
							</div>
						</div>
						<div id="slidecontainer">
							<input type="range" min="1" max="54" value="1" class="slider" id="range-sd">
						</div>
					</div>
					<button class="ui left labeled icon violet button step-four-rewind">
						<i class="left arrow icon"></i>
						Back
					</button>
					<button class="ui right labeled icon positive button step-four-next">
						<i class="right arrow icon"></i>
						Next
					</button>
				</div>
				<div class="right-cont">
					<div class="dengue-options">
					<button type="button" class="btn btn-danger" id="graph-dengue"><span class="glyphicon glyphicon-list-alt"></span> Data</button>

					<button type="button" id="mongodb" class="btn btn-success btn-info" data-toggle="button" aria-pressed="false" autocomplete="off"><span class="glyphicon glyphicon-leaf"></span> Normalized</button>
					</div>
					
					<div id="dengue-map"></div>


					<div class="instr-dengue-map">
						<h4>The data is preloaded since a specialized software is<br/> required to encode the shapefile with data per municipality.<br/> Click Continue.</h4> <button id="file-input-dengue-map">Continue</button>
					</div>


				</div>
			  </div>
			  
	
			
			</div>
		</div>
		

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog graph-modal" role="document">
			<div class="modal-content">
			  <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			  </div>
			  <div class="modal-body">
				<table class="table table-striped table-hover" id="one-table">
					
				</table>
			  </div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			  </div>
			</div>
		  </div>
		</div>

		
		{% load static %}
		
		<script src="{% static 'vs/js/index_spatial.js' %}"></script>
		
		
		<div id='info'></div>
		
		<script>
		   $('.step-four-next').click(function(){
				window.location = 'http://{{ request.get_host }}/analytics/step_five'; 
		   });
		   $('.step-four-rewind').click(function(){
				window.location = 'http://{{ request.get_host }}/analytics/step_three'; 
		   });
	   </script>    
{% endblock %}