{% extends 'analytics/base.html' %}

{% block content %}
   <br>
	<div class="ui segment container-ui">
		<h2 class="ui right floated header">Data visualization</h2>
		<div class="ui clearing divider"></div>
	  
		<div class="ui segment loading-data">
			<div class="ui active inverted dimmer">
				<div class="ui text loader">Please wait while the data is being analyzed...</div>
			</div>
			<p></p>
		</div>
		
		{% load static %}
		<div class=" container-graph">
			<div class="ui top attached tabular menu">
			  <a class="item active" data-tab="first">Actual data</a>
			  <a class="item" data-tab="second">Normalized data</a>
			  <a class="item" data-tab="third">Seasonality data</a>
			</div>
			<div class="ui bottom attached tab segment active graph-two" data-tab="first">
			  <img class="graph-step-two img1" width="600" height="450" src="{% static '' %}">
			</div>
			<div class="ui bottom attached tab segment graph-two" data-tab="second">
			  <img class="graph-step-two img2" width="600" height="450" src="{% static '' %}">
			</div>
			<div class="ui bottom attached tab segment graph-two" data-tab="third">
			  <img class="graph-step-two img3" width="600" height="450" src="{% static '' %}">
			</div>
		</div>
			
		
		<p></p>
		<button class="ui left labeled icon violet button step-two-rewind">
			<i class="left arrow icon"></i>
			Back
		</button>
		<button class="ui primary button alpha">
			<i class="icon search"></i>
			Analyze
		</button>
		
		<button class="ui right labeled icon positive button step-two-next">
			<i class="right arrow icon"></i>
			Next
		</button>
	</div>
   
	<script>
	$('.step-two-rewind').click(function(){
		window.location = "{% url 'step_one'%}";
	});
	$('.step-two-next').click(function(){
		window.location = "{% url 'step_three'%}";
	});
   </script>
	
   
   
{% endblock %}