{% extends 'analytics/base.html' %}

{% block content %}
	<script>
		var data_name = "{{request.session.data_name}}";
	</script>
	<div class="ui blue segment spatial-container">
		
		<div id="dengue-map"></div>
		
		<div class="slider-container">
			<br/>
			<b>Please drag the slider for a specific time.</b>
			<br/><br/>
			<div>
				<div id="period">
				</div>
			</div>
	
	
			<div id="slidecontainer">
				<input type="range" min="1" max="54" value="1" class="slider" id="range-sd">
			</div>
		</div>
		

	</div>
	
	<div id="data-table">
	
	</div>
	
	<div class="back-next">
		<button class="ui left labeled icon violet button step-five-rewind">
						<i class="left arrow icon"></i>
						Back
			</button>

			<button class="ui right labeled icon positive button step-five-next">
					<i class="right arrow icon"></i>
					Next
			</button>
	</div>
	<br/><br/>
	

		{% load static %}
		
		<script src="{% static 'js/spatial.js' %}"></script>
		<script>
                	$('.step-five-rewind').click(function(){
                        window.location = "{% url 'step_four'%}";
            		});
            		$('.step-five-next').click(function(){
                        window.location = "{% url 'step_six'%}";
            		});

	   	</script>
		
{% endblock %}
