{% extends 'analytics/base.html' %}

{% block content %}
   
	<div class="ui raised segment step-one-notice">
	<p>
		Please ensure that the csv file to be uploaded follows the prescribed data format.<br/>
		To download a file containing the sample template for <a class="ui orange label">{{request.user.province}}</a>, click this button. <br/><br/>  
		<form action="/analytics/step_one_download" method="get" id="form1">
			<select class="ui search dropdown" name="template">
			  <option value="0">ILHZ</option>
			  <option value="1">Legislative District</option>
			  <option value="2">City/Municipality</option>
			</select>
			<button type="submit" form="form1" value="Submit" class="ui green button"><i class="download icon"></i> Download</button>
		</form>
	</p>
	</div>
	<div class="ui raised segment step-one-notice">
	<p>
		Kindly choose the file from your computer to be uploaded and type the name of data.
	   <form method="post" enctype="multipart/form-data">{% csrf_token %}
			<div class='field'>
				<div class="ui left icon input">
					<input type="text" placeholder="Name of Data" name='name-data' autofocus="" required="">
					<i class="blue file alternate icon"></i>
				</div>
			</div><br/>
			<div class="ui input">
				<input type="file" name="file" id="id_file" required="" class="ui button">
			</div>
			<select class="ui search dropdown" name="division">
			  <option value="0">ILHZ</option>
			  <option value="1">Legislative District</option>
			  <option value="2">City/Municipality</option>
			</select>

		  <button class="ui primary button" type="submit"><i class="upload icon"></i>Upload</button>
		</form>
	</p>
	{% if error %}
	<div class="ui red mini message">
	  <div class="header">
		The file being uploaded may not work due to the following reason/s:
		
			{% for n in request.session.filter_messages %}
				<p>{{n}}</p>
			{% endfor %}
		
		Please upload another file and choose the correct division.
	  </div>
	</div>
	{% endif %}
	</div>
   
{% endblock %}
