{% extends 'analytics/base.html' %}

{% block content %}
		<script>
			var data_name = "{{request.session.data_name}}";
			var division = "{{request.session.division}}";
			var MY_URL = "{% url 'forecast_csv' %}";
		</script>
		<div class="body-result">
			<div class="tab-content">
			  <div id="home" class="tab-pane fade in active">
				<div class="ui orange segment left-cont">
					
					<h3 id='p-title'>Temporal Data</h3>
					<p id='p-content'>The data being shown are both the actual and the forecast ones with respect to their particular time.</p>
					<div id="dengue-option"><br/>
					<b>Select the {{division|lower}} of your interest.</b> <br/><br/>
						
							  
							  <div class="ui selection dropdown ddd">
								  <input type="hidden" name="district">
								  <i class="dropdown icon"></i>
  								  <div class="default text">{{division}}</div>
								  <div class="menu dropdown-menu">
									<div class="item" value='7' data-value="7">Provincial</div>
									<div class="item" value='1' data-value="1">District 1</div>
									<div class="item" value='2' data-value="2">District 2</div>
									<div class="item" value='3' data-value="3">District 3</div>
									<div class="item" value='4' data-value="4">District 4</div>
									<div class="item" value='5' data-value="5">District 5</div>
									<div class="item" value='6' data-value="6">District 6</div>
								  </div>
								</div>
							 
						
					</div>
					
					<button class="ui left labeled icon violet button step-four-rewind">
						<i class="left arrow icon"></i>
						Back
					</button>
					<button class="ui right labeled icon positive button step-four-next" disabled>
						<i class="right arrow icon"></i>
						Next
					</button>
				</div>
				<div class="ui blue segment right-cont">
					<div id="dengue-graph"></div>
					<div id="graph-svg"></div>
				</div>
			  </div>
			</div>
		</div>


		{% load static %}
		
		<script src="{% static 'js/graph.js' %}"></script>
		
		
		<div id='info'></div>
		
		<script>
		   $('.step-four-next').click(function(){
				window.location = "{% url 'step_five'%}";
		   });
		   $('.step-four-rewind').click(function(){
				window.location = "{% url 'step_three'%}";
		   });
		   
		   $('.ddd')
			.dropdown();
			
		$('.ddd')
		  .dropdown({
			action: 'hide',
			onChange: function(value, text, $selectedItem) {
				click_reset(value);
			}
		  })
		;
	   </script>    
{% endblock %}
