{% extends 'analytics/base.html' %}

{% block content %}
   
  <div class="ui raised segment step-one-notice">
	<p>
		Please be reminded that the report to be generated will be based on the last parameters being used. 
		To generate and download the said report in PDF format, kindly click the button. <br/><br/>  
		<button class="ui left labeled icon violet button step-three-rewind">
			<i class="left arrow icon"></i>
			Back
		</button>
		<a href="/analytics/step_six_download" class="ui orange button"><i class="download icon"></i>Generate Report</a>
	</p>
	</div>
	
	<script>
	   $('.step-three-rewind').click(function(){
			window.location = "{% url 'step_five'%}";
	   });
   </script>
{% endblock %}