{% extends 'analytics/base.html' %}

{% block content %}
   
   {% load static %}
   <div class="ui segment container-ui">
		<h2 class="ui right floated header">Performing Auto-ARIMA</h2>
		<div class="ui clearing divider"></div>
		
		<div class="ui segment loading-data-arima">
			<div class="ui active inverted dimmer">
				<div class="ui text loader">Please wait while auto-ARIMA is performed...</div>
			</div>
			<p></p>
		</div>
		
		<div class="container-arima">
			<div class="ui top attached tabular menu">
			  <a class="item active" data-tab="first">Parametric values</a>
			  <a class="item" data-tab="second">ARIMA</a>
			</div>
			<div class="ui bottom attached tab segment auto-arima active" data-tab="first">
			  
			</div>
			<div class="ui bottom attached tab segment" data-tab="second">
				<div>
					<div class="ui form">
					  <div class="fields">
						<div class="field">
						  <label>p value</label>
						  <input type="number" id="p-val" placeholder="">
						</div>
						<div class="field">
						  <label>d value</label>
						  <input type="number" id="d-val" placeholder="">
						</div>
						<div class="field">
						  <label>q value</label>
						  <input type="number" id="q-val" placeholder="">
						</div>
						
						<div class="field">
							<label>Confidence Interval</label>
							<select class="ui dropdown" id="ci">
							  <option value="95">95</option>
							  <option value="90">90</option>
							  <option value="85">85</option>
							  <option value="80">80</option>
							  <option value="75">75</option>
							  <option value="70">70</option>
							  <option value="65">65</option>
							  <option value="60">60</option>
							  <option value="55">55</option>
							  <option value="50">50</option>
							</select>
						</div>
						
					  </div>
					  <button class="ui blue button run-arima">Run ARIMA</button>
					</div>
				</div>
				<div class="ui teal segment">
					<div class="arima-output"></div>
				</div>
				<div class="ui violet segment">
					<div class="forecast-graph">
						<img class="graph-step-three" width="600" height="450" src="{% static '' %}">
					</div>
				</div>
				
			</div>
		</div>
   
    	<p></p>
		<button class="ui left labeled icon violet button step-three-rewind">
			<i class="left arrow icon"></i>
			Back
		</button>
		<button class="ui primary button beta">
			<i class="icon search"></i>
			Auto-ARIMA
		</button>
		
		<button class="ui right labeled icon positive button step-three-next">
			<i class="right arrow icon"></i>
			Next
		</button>
	</div>
	<script>
		$('.step-three-rewind').click(function(){ 
			window.location = "{% url 'step_two'%}";
	    });
	    $('.step-three-next').click(function(){
			window.location = "{% url 'step_four'%}"; 
	    });
	   
   </script>
{% endblock %}