<!DOCTYPE html>

<html>
	<head>
		{% load static %}
	
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	</head>
	
	<body>
		<form method="post" enctype="multipart/form-data">{% csrf_token %}
		 
		  {{ form.as_p }}
		  <button type="submit">Upload</button>
		</form>
	</body>

</html>